#root {
  margin: 0 auto;
  width: 100%;
}

.header {
  text-align: center;
}

.footer {
  color: blue;
}

.form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Background styles */

/* Glass card effect */
.card {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.48);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.schedule {
  background: rgba(41, 239, 19, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  height: 300px;
}

.backdrop {
  background-image: url("https://w0.peakpx.com/wallpaper/972/48/HD-wallpaper-stack-of-books-blue-background-education-concepts-books-library-school-learning-concepts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
